{
  "swagger": "2.0",
  "info": {
    "title": "AI for Earth Streamflow Prediction API",
    "description": "A REST API to access high resolution streamflow forecasts for regions including Africa, the Americas, and South Asia. The forecasts are derived using GloFAS runoff and RAPID.",
    "version": "1.0.1",
  },
  "host": "aci-gsp.eastus.azurecontainer.io",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "paths": {
    "/ForecastStats": {
      "get": {
        "description": "This operation returns statistics calculated from 51 forecast ensemble members. Additionally, a higher resolution forecast can also be retrieved.\nA successful response will return a time series with date-value pairs.",
        "summary": "Return basic forecast statistics",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          },
          {
            "name": "reach_id",
            "in": "query",
            "description": "The unique identifier for the stream reach of interest. Also refered to as common identifier (COMID). Requires previous knowledge of the value. This parameter is incompatible with `lat` and `lon` (see lat and lon parameters).",
            "required": true,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A given latitud used to find the closest stream reach. Must be used togeter with `lon`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A given longitud used to find the closest stream reach. Must be used together with `lat`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The given date for the forecast of interest.",
            "default": "most_recent",
            "type": "string",
            "pattern": "YYYYMMDD.HH"
          },
          {
            "name": "stat",
            "in": "query",
            "description": "The desired statistic to be calculated.",
            "type": "string",
            "default": "all",
            "enum": [
              "all",
              "mean",
              "min",
              "max",
              "std_dev_range_upper",
              "std_dev_range_lower",
              "high_res"
            ]
          },
          {
            "name": "return_format",
            "in": "query",
            "description": "The format of the time series response.",
            "type": "string",
            "default": "csv",
            "enum": [
              "csv",
              "json",
              "waterml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a time series along with metadata about the stream reach of interest.",
            "examples": {
              "application/json": {
                "comid": 69494,
                "enddate": "2019-02-09T00:00:00Z",
                "gendate": "2019-06-17T18:25:44.525820Z",
                "region": "south_asia-mainland",
                "startdate": "2019-01-30T00:00:00Z",
                "stats": {
                  "mean": "Mean"
                },
                "time_series": {
                  "mean": [
                    {
                      "date": "2019-01-30T00:00:00Z",
                      "val": 213.29173278808594
                    },
                    {
                      "date": "2019-02-09T00:00:00Z",
                      "val": 348.5490417480469
                    }
                  ]
                },
                "units": {
                  "long": "Cubic Meters per Second",
                  "name": "Streamflow",
                  "short": "m3/s"
                }
              },
              "application/xml": "<?xml version=\"1.0\" encoding=\"utf-8\" ?> <wml2:Collection xmlns:wml2=\"http://www.opengis.net/waterml/2.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:om=\"http://www.opengis.net/om/2.0\" xmlns:sa=\"http://www.opengis.net/sampling/2.0\" xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:sf=\"http://www.opengis.net/sampling/2.0\" xmlns:sams=\"http://www.opengis.net/samplingSpatial/2.0\" xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\" xsi:schemaLocation=\"http://www.opengis.net/waterml/2.0 http://schemas.opengis.net/waterml/2.0/waterml2.xsd\" gml:id=\"GSP_south_asia-mainland_forecaststats_69494_2019-01-30T00:00:00Z\"> <gml:description> A timeseries collection with the requested forecast statistics extracted from all the ensemble members of the ECMWF runoff forecast previously downscaled with RAPID. </gml:description> <wml2:metadata> <wml2:DocumentMetadata gml:id=\"doc_d\"> <wml2:generationDate>2019-06-17T17:36:02.564982Z</wml2:generationDate> <wml2:version xlink:href=\"http://www.opengis.net/waterml/2.0\"/> </wml2:DocumentMetadata> </wml2:metadata> <wml2:observationMember> <om:OM_Observation gml:id=\"forecast_stats_69494\"> <om:metadata> <wml2:ObservationMetadata> <gmd:contact> <gmd:CI_ResponsibleParty> <gmd:organisationName> <gco:CharacterString>Aquaveo, LLC.</gco:CharacterString> </gmd:organisationName> <gmd:role> <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\" codeListValue=\"owner\"/> </gmd:role> </gmd:CI_ResponsibleParty> </gmd:contact> <gmd:dateStamp> <gco:DateTime>2019-01-30T00:00:00Z</gco:DateTime> </gmd:dateStamp> <gmd:identificationInfo/> </wml2:ObservationMetadata> </om:metadata> <om:phenomenonTime> <gml:TimePeriod gml:id=\"forecast_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-09T00:00:00Z</gml:endPosition> </gml:TimePeriod> </om:phenomenonTime> <om:resultTime> <gml:TimeInstant gml:id=\"forecast_available\"> <gml:timePosition>2019-01-30T00:00:00Z</gml:timePosition> </gml:TimeInstant> </om:resultTime> <om:procedure xlink:href=\"ECMWF-RAPID\" xlink:title=\"ECMWF-RAPID\" xlink:arcrole=\"http://www.opengis.net/def/waterml/2.0/processType/Simulation\"/> <om:observedProperty xlink:title=\"Streamflow\"/> <om:featureOfInterest xlink:title=\"south_asia-mainland\"/> <om:result> <wml2:MeasurementTimeseries gml:id=\"mean\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"mean_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-09T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic Meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-01-30T00:00:00Z</wml2:time> <wml2:value>213.29173278808594</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-01-30T03:00:00Z</wml2:time> <wml2:value>215.35958862304688</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-02-09T00:00:00Z</wml2:time> <wml2:value>348.5490417480469</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> </om:result> </om:OM_Observation> </wml2:observationMember> </wml2:Collection>",
              "text/csv": "datetime,mean (m3/s) 2019-01-30 00:00:00,213.29173278808594 2019-01-30 03:00:00,215.35958862304688 2019-01-30 06:00:00,219.76544189453125 2019-01-30 09:00:00,224.12327575683594 2019-02-09 00:00:00,348.5490417480469"
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    },
    "/ForecastEnsembles": {
      "get": {
        "description": "This operation returns a combination of the 51 forecast ensemble members. Additionally, a higher resolution forecast (52nd ensemble) can also be retrieved.\nA successful response will return a time series with date-value pairs.",
        "summary": "Return forecast ensembles",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          },
          {
            "name": "reach_id",
            "in": "query",
            "description": "The unique identifier for the stream reach of interest. Also refered to as common identifier (COMID). Requires previous knowledge of the value. This parameter is incompatible with `lat` and `lon` (see lat and lon parameters).",
            "required": true,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A given latitud used to find the closest stream reach. Must be used togeter with `lon`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A given longitud used to find the closest stream reach. Must be used together with `lat`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "date",
            "in": "query",
            "description": "The given date for the forecast of interest.",
            "default": "most_recent",
            "type": "string",
            "pattern": "YYYYMMDD.HH"
          },
          {
            "name": "ensemble",
            "in": "query",
            "description": "The desired forecast ensemble(s). Input can be:\n  - An individual ensemble (i.e. 5)\n  - A group of ensembles separated by commas (i.e. 1,5,9)\n  - A range of ensembles separated by a dash (i.e. 3-15)",
            "type": "string",
            "default": "all"
          },
          {
            "name": "return_format",
            "in": "query",
            "description": "The format of the time series response.",
            "type": "string",
            "default": "csv",
            "enum": [
              "csv",
              "json",
              "waterml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a time series for each ensemble along with metadata about the stream reach of interest.",
            "examples": {
              "application/json": {
                "comid": 69494,
                "enddate": "2019-02-14T00:00:00Z",
                "ensembles": {
                  "01": "Ensemble 01",
                  "05": "Ensemble 05",
                  "09": "Ensemble 09"
                },
                "gendate": "2019-06-17T19:02:41.751241Z",
                "region": "south_asia-mainland",
                "startdate": "2019-01-30T00:00:00Z",
                "time_series": {
                  "01": [
                    {
                      "date": "2019-01-30T00:00:00Z",
                      "val": 213.29168701171875
                    },
                    {
                      "date": "2019-02-14T00:00:00Z",
                      "val": 323.43060302734375
                    }
                  ],
                  "05": [
                    {
                      "date": "2019-01-30T00:00:00Z",
                      "val": 213.29168701171875
                    },
                    {
                      "date": "2019-02-14T00:00:00Z",
                      "val": 316.87237548828125
                    }
                  ],
                  "09": [
                    {
                      "date": "2019-01-30T00:00:00Z",
                      "val": 213.29168701171875
                    },
                    {
                      "date": "2019-02-14T00:00:00Z",
                      "val": 327.3080749511719
                    }
                  ]
                },
                "units": {
                  "long": "Cubic Meters per Second",
                  "name": "Streamflow",
                  "short": "m3/s"
                }
              },
              "application/xml": "<?xml version=\"1.0\" encoding=\"utf-8\" ?> <wml2:Collection xmlns:wml2=\"http://www.opengis.net/waterml/2.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:om=\"http://www.opengis.net/om/2.0\" xmlns:sa=\"http://www.opengis.net/sampling/2.0\" xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:sf=\"http://www.opengis.net/sampling/2.0\" xmlns:sams=\"http://www.opengis.net/samplingSpatial/2.0\" xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\" xsi:schemaLocation=\"http://www.opengis.net/waterml/2.0 http://schemas.opengis.net/waterml/2.0/waterml2.xsd\" gml:id=\"GSP_south_asia-mainland_forecastensembles_69494_2019-01-30T00:00:00Z\"> <gml:description> A timeseries collection with the requested forecast ensembles extracted from the ECMWF runoff forecast previously downscaled with RAPID. </gml:description> <wml2:metadata> <wml2:DocumentMetadata gml:id=\"doc_d\"> <wml2:generationDate>2019-06-17T19:08:25.846989Z</wml2:generationDate> <wml2:version xlink:href=\"http://www.opengis.net/waterml/2.0\"/> </wml2:DocumentMetadata> </wml2:metadata> <wml2:observationMember> <om:OM_Observation gml:id=\"forecast_ensembles_69494\"> <om:metadata> <wml2:ObservationMetadata> <gmd:contact> <gmd:CI_ResponsibleParty> <gmd:organisationName> <gco:CharacterString>Aquaveo, LLC.</gco:CharacterString> </gmd:organisationName> <gmd:role> <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\" codeListValue=\"owner\"/> </gmd:role> </gmd:CI_ResponsibleParty> </gmd:contact> <gmd:dateStamp> <gco:DateTime>2019-01-30T00:00:00Z</gco:DateTime> </gmd:dateStamp> <gmd:identificationInfo/> </wml2:ObservationMetadata> </om:metadata> <om:phenomenonTime> <gml:TimePeriod gml:id=\"forecast_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-14T00:00:00Z</gml:endPosition> </gml:TimePeriod> </om:phenomenonTime> <om:resultTime> <gml:TimeInstant gml:id=\"forecast_available\"> <gml:timePosition>2019-01-30T00:00:00Z</gml:timePosition> </gml:TimeInstant> </om:resultTime> <om:procedure xlink:href=\"ECMWF-RAPID\" xlink:title=\"ECMWF-RAPID\" xlink:arcrole=\"http://www.opengis.net/def/waterml/2.0/processType/Simulation\"/> <om:observedProperty xlink:title=\"Streamflow\"/> <om:featureOfInterest xlink:title=\"south_asia-mainland\"/> <om:result> <wml2:MeasurementTimeseries gml:id=\"ensemble_01\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"ensemble_01_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-14T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic Meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-01-30T00:00:00Z</wml2:time> <wml2:value>213.29168701171875</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-02-14T00:00:00Z</wml2:time> <wml2:value>323.43060302734375</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> <wml2:MeasurementTimeseries gml:id=\"ensemble_05\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"ensemble_05_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-14T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic Meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-01-30T00:00:00Z</wml2:time> <wml2:value>213.29168701171875</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-02-14T00:00:00Z</wml2:time> <wml2:value>316.87237548828125</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> <wml2:MeasurementTimeseries gml:id=\"ensemble_09\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"ensemble_09_period\"> <gml:beginPosition>2019-01-30T00:00:00Z</gml:beginPosition> <gml:endPosition>2019-02-14T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic Meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-01-30T00:00:00Z</wml2:time> <wml2:value>213.29168701171875</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2019-02-14T00:00:00Z</wml2:time> <wml2:value>327.3080749511719</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> </om:result> </om:OM_Observation> </wml2:observationMember> </wml2:Collection>",
              "text/csv": "datetime,ensemble_01 (m3/s),ensemble_05 (m3/s),ensemble_09 (m3/s) 2019-01-30 00:00:00,213.29168701171875,213.29168701171875,213.29168701171875 2019-01-30 03:00:00,215.32891845703125,215.3298797607422,215.333740234375 2019-01-30 06:00:00,219.7271270751953,219.7324981689453,219.7404327392578 2019-01-30 09:00:00,224.0840301513672,224.1027069091797,224.0642547607422 2019-01-30 12:00:00,228.4619598388672,228.4906005859375,228.3660430908203 2019-02-14 00:00:00,323.43060302734375,316.87237548828125,327.3080749511719"
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    },
    "/HistoricSimulation": {
      "get": {
        "description": "This operation returns 35 years of simulated streamflow data from 1985 to 2014.\nA successful response will return a time series with date-value pairs.",
        "summary": "Return historic simulation",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          },
          {
            "name": "reach_id",
            "in": "query",
            "description": "The unique identifier for the stream reach of interest. Also refered to as common identifier (COMID). Requires previous knowledge of the value. This parameter is incompatible with `lat` and `lon` (see lat and lon parameters).",
            "required": true,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A given latitud used to find the closest stream reach. Must be used togeter with `lon`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A given longitud used to find the closest stream reach. Must be used together with `lat`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "return_format",
            "in": "query",
            "description": "The format of the time series response.",
            "type": "string",
            "default": "csv",
            "enum": [
              "csv",
              "json",
              "waterml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a time series along with metadata about the stream reach of interest.",
            "examples": {
              "application/json": {
                "comid": 69494,
                "enddate": "2014-12-31T00:00:00Z",
                "gendate": "2019-06-17T20:08:16.250952Z",
                "region": "south_asia-south_asia",
                "startdate": "1980-01-01T00:00:00Z",
                "time_series": [
                  {
                    "date": "1980-01-01T00:00:00Z",
                    "val": 0.6053100228309631
                  },
                  {
                    "date": "2014-12-31T00:00:00Z",
                    "val": 763.8305053710938
                  }
                ],
                "units": {
                  "long": "Cubic meters per Second",
                  "name": "Streamflow",
                  "short": "m3/s"
                }
              },
              "application/xml": "<?xml version=\"1.0\" encoding=\"utf-8\" ?> <wml2:Collection xmlns:wml2=\"http://www.opengis.net/waterml/2.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:om=\"http://www.opengis.net/om/2.0\" xmlns:sa=\"http://www.opengis.net/sampling/2.0\" xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:sf=\"http://www.opengis.net/sampling/2.0\" xmlns:sams=\"http://www.opengis.net/samplingSpatial/2.0\" xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\" xsi:schemaLocation=\"http://www.opengis.net/waterml/2.0 http://schemas.opengis.net/waterml/2.0/waterml2.xsd\" gml:id=\"GSP_south_asia-south_asia_historic_simulation_69494_1980-01-01T00:00:00Z\"> <gml:description> A timeseries with the requested historic simulation extracted from ECMWFs ERA-Iterim data previously downscaled with RAPID. </gml:description> <wml2:metadata> <wml2:DocumentMetadata gml:id=\"doc_d\"> <wml2:generationDate>2019-06-17T20:51:42.968881Z</wml2:generationDate> <wml2:version xlink:href=\"http://www.opengis.net/waterml/2.0\"/> </wml2:DocumentMetadata> </wml2:metadata> <wml2:observationMember> <om:OM_Observation gml:id=\"historic_simulation_69494\"> <om:metadata> <wml2:ObservationMetadata> <gmd:contact> <gmd:CI_ResponsibleParty> <gmd:organisationName> <gco:CharacterString>Aquaveo, LLC.</gco:CharacterString> </gmd:organisationName> <gmd:role> <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\" codeListValue=\"owner\"/> </gmd:role> </gmd:CI_ResponsibleParty> </gmd:contact> <gmd:dateStamp> <gco:DateTime>1980-01-01T00:00:00Z</gco:DateTime> </gmd:dateStamp> <gmd:identificationInfo/> </wml2:ObservationMetadata> </om:metadata> <om:phenomenonTime> <gml:TimePeriod gml:id=\"forecast_period\"> <gml:beginPosition>1980-01-01T00:00:00Z</gml:beginPosition> <gml:endPosition>2014-12-31T00:00:00Z</gml:endPosition> </gml:TimePeriod> </om:phenomenonTime> <om:resultTime> <gml:TimeInstant gml:id=\"forecast_available\"> <gml:timePosition>1980-01-01T00:00:00Z</gml:timePosition> </gml:TimeInstant> </om:resultTime> <om:procedure xlink:href=\"ECMWF-RAPID\" xlink:title=\"ECMWF-RAPID\" xlink:arcrole=\"http://www.opengis.net/def/waterml/2.0/processType/Simulation\"/> <om:observedProperty xlink:title=\"Streamflow\"/> <om:featureOfInterest xlink:title=\"south_asia-south_asia\"/> <om:result> <wml2:MeasurementTimeseries gml:id=\"historic_sim\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"historic_sim_period\"> <gml:beginPosition>1980-01-01T00:00:00Z</gml:beginPosition> <gml:endPosition>2014-12-31T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>1980-01-01T00:00:00Z</wml2:time> <wml2:value>0.6053100228309631</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2014-12-31T00:00:00Z</wml2:time> <wml2:value>763.8305053710938</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> </om:result> </om:OM_Observation> </wml2:observationMember> </wml2:Collection>",
              "text/csv": "datetime,streamflow (m3/s) 1980-01-01 00:00:00,0.6053100228309631 1980-01-02 00:00:00,3.297658920288086 1980-01-03 00:00:00,12.300686836242676 1980-01-04 00:00:00,33.258731842041016 1980-01-05 00:00:00,57.765438079833984 2014-12-31 00:00:00,763.8305053710938"
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    },
    "/SeasonalAverage": {
      "get": {
        "description": "This operation returns the daily average for an entire year based on ERA Interim data.\nA successful response will return a time series with day-value pairs.",
        "summary": "Return seasonal average",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          },
          {
            "name": "reach_id",
            "in": "query",
            "description": "The unique identifier for the stream reach of interest. Also refered to as common identifier (COMID). Requires previous knowledge of the value. This parameter is incompatible with `lat` and `lon` (see lat and lon parameters).",
            "required": true,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A given latitud used to find the closest stream reach. Must be used togeter with `lon`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A given longitud used to find the closest stream reach. Must be used together with `lat`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "return_format",
            "in": "query",
            "description": "The format of the time series response.",
            "type": "string",
            "default": "csv",
            "enum": [
              "csv",
              "json",
              "waterml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a time series along with metadata about the stream reach of interest.",
            "examples": {
              "application/json": {
                "comid": 56691,
                "gendate": "2019-06-21T19:56:42.935383Z",
                "region": "south_asia-south_asia",
                "time_series": [
                  {
                    "day": 0,
                    "val": 122.98004150390625
                  },
                  {
                    "day": 364,
                    "val": 129.8092803955078
                  }
                ],
                "units": {
                  "long": "Cubic meters per Second",
                  "name": "Streamflow",
                  "short": "m3/s"
                }
              },
              "application/xml": "<?xml version=\"1.0\" encoding=\"utf-8\" ?> <wml2:Collection xmlns:wml2=\"http://www.opengis.net/waterml/2.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:om=\"http://www.opengis.net/om/2.0\" xmlns:sa=\"http://www.opengis.net/sampling/2.0\" xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:sf=\"http://www.opengis.net/sampling/2.0\" xmlns:sams=\"http://www.opengis.net/samplingSpatial/2.0\" xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\" xsi:schemaLocation=\"http://www.opengis.net/waterml/2.0 http://schemas.opengis.net/waterml/2.0/waterml2.xsd\" gml:id=\"GSP_south_asia-south_asia_seasonal_avg_56691\"> <gml:description> A timeseries with the requested seasonal averages extracted from ECMWFs ERA-Iterim data previously downscaled with RAPID. </gml:description> <wml2:metadata> <wml2:DocumentMetadata gml:id=\"doc_d\"> <wml2:generationDate>2019-06-21T20:42:32.123035Z</wml2:generationDate> <wml2:version xlink:href=\"http://www.opengis.net/waterml/2.0\"/> </wml2:DocumentMetadata> </wml2:metadata> <wml2:observationMember> <om:OM_Observation gml:id=\"seasonal_average_56691\"> <om:metadata> <wml2:ObservationMetadata> <gmd:contact> <gmd:CI_ResponsibleParty> <gmd:organisationName> <gco:CharacterString>Aquaveo, LLC.</gco:CharacterString> </gmd:organisationName> <gmd:role> <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\" codeListValue=\"owner\"/> </gmd:role> </gmd:CI_ResponsibleParty> </gmd:contact> <gmd:identificationInfo/> </wml2:ObservationMetadata> </om:metadata> <om:phenomenonTime> <gml:TimePeriod gml:id=\"forecast_period\"> <gml:beginPosition>0</gml:beginPosition> <gml:endPosition>364</gml:endPosition> </gml:TimePeriod> </om:phenomenonTime> <om:resultTime> <gml:TimeInstant gml:id=\"forecast_available\"> <gml:timePosition>0</gml:timePosition> </gml:TimeInstant> </om:resultTime> <om:procedure xlink:href=\"ECMWF-RAPID\" xlink:title=\"ECMWF-RAPID\" xlink:arcrole=\"http://www.opengis.net/def/waterml/2.0/processType/Simulation\"/> <om:observedProperty xlink:title=\"Streamflow\"/> <om:featureOfInterest xlink:title=\"south_asia-south_asia\"/> <om:result> <wml2:MeasurementTimeseries gml:id=\"seasonal_avg\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"seasonal_average\"> <gml:beginPosition>0</gml:beginPosition> <gml:endPosition>364</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>0</wml2:time> <wml2:value>122.98004150390625</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>1</wml2:time> <wml2:value>122.26720428466797</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2</wml2:time> <wml2:value>120.51087188720703</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>3</wml2:time> <wml2:value>118.9857177734375</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>4</wml2:time> <wml2:value>118.57260131835938</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>363</wml2:time> <wml2:value>131.64041137695312</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>364</wml2:time> <wml2:value>129.8092803955078</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> </om:result> </om:OM_Observation> </wml2:observationMember> </wml2:Collection>",
              "text/csv": "day,streamflow_avg (m3/s) 0,122.98004150390625 1,122.26720428466797 2,120.51087188720703 3,118.9857177734375 4,118.57260131835938 364,129.8092803955078"
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    },
    "/ReturnPeriods": {
      "get": {
        "description": "This operation returns the 2, 10, and 20 year return period based on the 35-years simulated streamflow data.\nA successful response will return key-value pairs for earch return period along with metadata.",
        "summary": "Return historic simulation",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          },
          {
            "name": "reach_id",
            "in": "query",
            "description": "The unique identifier for the stream reach of interest. Also refered to as common identifier (COMID). Requires previous knowledge of the value. This parameter is incompatible with `lat` and `lon` (see lat and lon parameters).",
            "required": true,
            "type": "number",
            "format": "integer"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "A given latitud used to find the closest stream reach. Must be used togeter with `lon`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "lon",
            "in": "query",
            "description": "A given longitud used to find the closest stream reach. Must be used together with `lat`. The spatial query uses the center point of the stream reach to determine proximity. This parameter is incompatible with `reach_id`. A lat/lon spatial query will take longer than providing the reach_id. It is recommended that the reach_id be used instead once it is known.",
            "type": "number",
            "format": "float"
          },
          {
            "name": "return_format",
            "in": "query",
            "description": "The format of the time series response.",
            "type": "string",
            "default": "csv",
            "enum": [
              "csv",
              "json",
              "waterml"
            ]
          }
        ],
        "produces": [
          "application/json",
          "application/xml",
          "text/csv"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a key-value pairs for each return period along with metadata about the stream reach of interest.",
            "examples": {
              "application/json": {
                "comid": 56691,
                "enddate": "2014-12-31T00:00:00Z",
                "gendate": "2019-06-17T21:47:39.307465Z",
                "region": "south_asia-south_asia",
                "startdate": "1980-01-01T00:00:00Z",
                "time_series": [
                  {
                    "period": "max",
                    "val": 19026.654296875
                  },
                  {
                    "period": "twenty",
                    "val": 16749.6953125
                  },
                  {
                    "period": "ten",
                    "val": 13634.5830078125
                  },
                  {
                    "period": "two",
                    "val": 7837.7763671875
                  }
                ],
                "units": {
                  "long": "Cubic meters per Second",
                  "name": "Streamflow",
                  "short": "m3/s"
                }
              },
              "application/xml": "<?xml version=\"1.0\" encoding=\"utf-8\" ?> <wml2:Collection xmlns:wml2=\"http://www.opengis.net/waterml/2.0\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml/3.2\" xmlns:om=\"http://www.opengis.net/om/2.0\" xmlns:sa=\"http://www.opengis.net/sampling/2.0\" xmlns:swe=\"http://www.opengis.net/swe/2.0\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns:sf=\"http://www.opengis.net/sampling/2.0\" xmlns:sams=\"http://www.opengis.net/samplingSpatial/2.0\" xmlns:gco=\"http://www.isotc211.org/2005/gco\" xmlns:gmd=\"http://www.isotc211.org/2005/gmd\" xsi:schemaLocation=\"http://www.opengis.net/waterml/2.0 http://schemas.opengis.net/waterml/2.0/waterml2.xsd\" gml:id=\"GSP_south_asia-south_asia_historic_simulation_69494_1980-01-01T00:00:00Z\"> <gml:description> A timeseries with the requested historic simulation extracted from ECMWFs ERA-Iterim data previously downscaled with RAPID. </gml:description> <wml2:metadata> <wml2:DocumentMetadata gml:id=\"doc_d\"> <wml2:generationDate>2019-06-17T20:51:42.968881Z</wml2:generationDate> <wml2:version xlink:href=\"http://www.opengis.net/waterml/2.0\"/> </wml2:DocumentMetadata> </wml2:metadata> <wml2:observationMember> <om:OM_Observation gml:id=\"historic_simulation_69494\"> <om:metadata> <wml2:ObservationMetadata> <gmd:contact> <gmd:CI_ResponsibleParty> <gmd:organisationName> <gco:CharacterString>Aquaveo, LLC.</gco:CharacterString> </gmd:organisationName> <gmd:role> <gmd:CI_RoleCode codeList=\"http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode\" codeListValue=\"owner\"/> </gmd:role> </gmd:CI_ResponsibleParty> </gmd:contact> <gmd:dateStamp> <gco:DateTime>1980-01-01T00:00:00Z</gco:DateTime> </gmd:dateStamp> <gmd:identificationInfo/> </wml2:ObservationMetadata> </om:metadata> <om:phenomenonTime> <gml:TimePeriod gml:id=\"forecast_period\"> <gml:beginPosition>1980-01-01T00:00:00Z</gml:beginPosition> <gml:endPosition>2014-12-31T00:00:00Z</gml:endPosition> </gml:TimePeriod> </om:phenomenonTime> <om:resultTime> <gml:TimeInstant gml:id=\"forecast_available\"> <gml:timePosition>1980-01-01T00:00:00Z</gml:timePosition> </gml:TimeInstant> </om:resultTime> <om:procedure xlink:href=\"ECMWF-RAPID\" xlink:title=\"ECMWF-RAPID\" xlink:arcrole=\"http://www.opengis.net/def/waterml/2.0/processType/Simulation\"/> <om:observedProperty xlink:title=\"Streamflow\"/> <om:featureOfInterest xlink:title=\"south_asia-south_asia\"/> <om:result> <wml2:MeasurementTimeseries gml:id=\"historic_sim\"> <wml2:metadata> <wml2:MeasurementTimeseriesMetadata> <wml2:temporalExtent> <gml:TimePeriod gml:id=\"historic_sim_period\"> <gml:beginPosition>1980-01-01T00:00:00Z</gml:beginPosition> <gml:endPosition>2014-12-31T00:00:00Z</gml:endPosition> </gml:TimePeriod> </wml2:temporalExtent> </wml2:MeasurementTimeseriesMetadata> </wml2:metadata> <wml2:defaultPointMetadata> <wml2:DefaultTVPMeasurementMetadata> <wml2:uom xlink:title=\"Cubic meters per Second\"/> <wml2:uom code=\"m3/s\"/> <wml2:interpolationType xlink:href=\"http://www.opengis.net/def/waterml/2.0/interpolationType/Continuous\" xlink:title=\"Continuous\"/> </wml2:DefaultTVPMeasurementMetadata> </wml2:defaultPointMetadata> <wml2:point> <wml2:MeasurementTVP> <wml2:time>1980-01-01T00:00:00Z</wml2:time> <wml2:value>0.6053100228309631</wml2:value> </wml2:MeasurementTVP> </wml2:point> <wml2:point> <wml2:MeasurementTVP> <wml2:time>2014-12-31T00:00:00Z</wml2:time> <wml2:value>763.8305053710938</wml2:value> </wml2:MeasurementTVP> </wml2:point> </wml2:MeasurementTimeseries> </om:result> </om:OM_Observation> </wml2:observationMember> </wml2:Collection>",
              "text/csv": "datetime,streamflow (m3/s) 1980-01-01 00:00:00,0.6053100228309631 1980-01-02 00:00:00,3.297658920288086 1980-01-03 00:00:00,12.300686836242676 1980-01-04 00:00:00,33.258731842041016 1980-01-05 00:00:00,57.765438079833984 2014-12-31 00:00:00,763.8305053710938"
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    },
    "/AvailableRegions": {
      "get": {
        "description": "This operation returns the available regions.\nA successful response will return a list of available regions in JSON format.",
        "summary": "Available regions",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a list of available regions.",
            "examples": {
              "application/json": {
                "available_regions": [
                  "south_asia-mainland"
                ]
              }
            }
          },
          "204": {
            "description": "Succesful request but no regions found.",
            "examples": {
              "message": "No regions found."
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          }
        }
      }
    },
    "/AvailableDates": {
      "get": {
        "description": "This operation returns the available forecast dates.\nA successful response will return a list of available dates in JSON format.",
        "summary": "Available dates",
        "parameters": [
          {
            "name": "region",
            "in": "query",
            "required": true,
            "description": "The name of the major region of interest.",
            "type": "string",
            "enum": [
              "africa-continental",
              "north_america-continental",
              "south_america-continental",
              "south_asia-continental"
            ]
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The response body will contain a list of available dates.",
            "examples": {
              "application/json": {
                "available_dates": [
                  "20190130.0"
                ]
              }
            }
          },
          "204": {
            "description": "Succesful request but no regions found.",
            "examples": {
              "message": "No dates available."
            }
          },
          "400": {
            "description": "Bad request. Check request and paramaters.",
            "examples": {
              "error": "An unexpected error occured."
            }
          },
          "422": {
            "description": "Missing a required parameter.",
            "examples": {
              "error": "region is required as input."
            }
          }
        }
      }
    }
  }
}