{% extends "base_template.html" %}
{% block title %}About - GEOGloWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1>About the GEOGloWS ECMWF Streamflow Service</h1>
  <p>
    GEOGloWS helps to organize the international community engaged in the hydrologic sciences, observations, and their application to forecasting and provides a forum for government-to-government
    collaboration, and engagement with the academic and private sectors to achieve the delivery of actionable water information. Since the formal creation of the initiative in 2017, the most
    significant element of GEOGloWS has been the application of Earth Observations (EO) to create a system that forecasts flow on every river of the world while also providing a 40-year simulated
    historical flow.
  </p>
  <img src="/static/images/about1.jpg" style="width: 100%">

  <h2>Daily 15-day ensemble forecast and 40-year historical simulation for every river in the world</h2>
  <p>
    The GEOGloWS ECMWF Streamflow Service uses a Hydrologic Modeling as a Service (HMaaS) approach, which centralizes the cyberinfrastructure, human capacity, and other components of hydrologic
    modeling using the best forecasts and expertise available, along with the latest advances in Information and Communication Technology (ICT). We can now deliver reliable forecast information as a
    service, instead of all the underlying data that must be synthesized and computed locally.
  </p>
  <p>
    In the past, millions of dollars have been invested by international and local agencies to develop hydrologic models from global data sources. This approach requires every agency to be able to
    download input data (e.g., terrain information, land use, meteorological, and other) to create models, and then have the computational power, software, and human capacity necessary to run and
    calibrate them. Having to replicate this resource everywhere is expensive in terms of the cyberinfrastructure required but perhaps more costly are the unrealized benefits as such systems often
    frequently have short useful life spans because of the costs to maintain and operate them.
  </p>

  <p>
    The GEOGloWS global streamflow forecasting service allows local stakeholders to focus on solving water management problems such as flooding, drought, and water/food security issues by providing
    the water intelligence they need to make decisions; and benefits the global economy by also providing water intelligence to sectors such as the insurance and reinsurance industry, and many
    others that need to make high-risk investment decisions.
  </p>
  <img src="/static/images/about2.jpg" style="width: 100%">

  <h2>Hydrologic Modeling as a Service (HMaaS)</h2>
  <p>
    The streamflow services are powered by the cyberinfrastructure at ECMWF by using their ensemble meteorological forecast through the HTESSEL land surface model to produce global runoff on a 16x16
    kilometer grid. This output is further mapped to the GEOGloWS watersheds and routed through the river network using the RAPID model to produce a 15-day forecast on every river. The ERA-5
    retrospective historical data are run over the same domain to produce the 40-year record of streamflow that is used to derive return-periods and put the current forecast in context (See
    Publications for technical descriptions of the different workflow processes).
  </p>
  <img src="/static/images/about3.jpg" style="width: 100%">

  <h2>GEOGloWS ECMWF Streamflow Services Workflow and Components</h2>
  <p>
    Resulting streamflow forecasts along with a web mapping service produced and hosted by esri are constructed and delivered by an API so that custom web and other applications can be created from
    the HMaaS.
  </p>
  <img src="/static/images/about4.jpg" style="width: 100%">
{% endblock %}
