{% extends "base_template.html" %}
{% block title %}GEOGloWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1>GEOGloWS ECMWF Streamflow Model</h1>
  <p>
    Welcome to the GEOGloWS ECMWF Streamflow Model. This website contains information about the model. It also hosts
    a REST API for accessing the results of the model and documentation about how to use it.
  </p>
  <hr>

  <div id="map" style="width: 100%; height: 600px"></div>
  <div id="animation-controls" style="margin: auto; text-align: center;">
    <label class="control-label" for="time-slider">Map Animation Controls</label><br>
    <input type="range" min="0" max="40" value="0" class="slider" id="time-slider">
    <div id="current-map-date" style="text-align: center"></div>
    <div>
      <button class="btn btn-primary" id="animationBack1">
        <span class="fa fa-arrow-circle-left"></span></button>
      <button class="btn btn-primary" id="animationPlay">
        <span class="fa fa-play"></span></button>
      <button class="btn btn-primary" id="animationStop">
        <span class="fa fa-stop" aria-hidden="true"></span></button>
      <button class="btn btn-primary" id="animationPlus1">
        <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></button>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
{% endblock %}
{% block javascript %}
  <!-- leaflet js dependencies and styles -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  <script src="/static/js/geoglows_esri_map.js"></script>
{% endblock %}
