{% extends "base_template.html" %}
{% block title %}GEOGloWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1 class="center">GEOGloWS ECMWF Streamflow</h1>
  <p>
    Welcome to the GEOGloWS ECMWF Streamflow Model. This website contains information about the model and hosts a REST
    data service for accessing the model results. Click on the map below to begin exploring forecasted streamflow around
    the world or use the <a href="https://geoglows.apps.aquaveo.com/apps/geoglows-hydroviewer">GEOGloWS Hydroviewer web app</a>.
  </p>
  <hr>

  <div id="map" style="width: 100%; height: 600px; cursor: pointer"></div>
  <div id="animation-controls" style="margin: auto; text-align: center;">
    <label class="control-label" for="time-slider">Map Animation Controls</label><br>
    <input type="range" min="0" max="40" value="0" class="slider" id="time-slider">
    <div id="current-map-date" style="text-align: center"></div>
    <div>
      <button class="btn btn-primary" id="animationBack1">
        <span class="fa fa-arrow-circle-left"></span></button>
      <button class="btn btn-primary" id="animationPlay">
        <span class="fa fa-play"></span></button>
      <button class="btn btn-primary" id="animationStop">
        <span class="fa fa-stop" aria-hidden="true"></span></button>
      <button class="btn btn-primary" id="animationPlus1">
        <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></button>
    </div>
  </div>
{% endblock %}

{% block modals %}
  <div class="modal modal-dialog modal-xl" id="chart_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header row" style="margin: auto">
          <h5 style="text-align: center">Streamflow Results <span id="request-status" class="load-status"></span></h5>
        </div>

        <div class="modal-body">
          <p id="on-empty-chart" style="text-align:center;display:none;">
            Zoom in on the map and click on a stream reach to display data.
          </p>
          <div id="forecast-chart"></div>
        </div><!-- /.modal-body -->

        <div class="modal-footer">
          <a role="button" class="btn btn-primary" id="download-forecast-btn" target="_blank">Download Streamflow Forecast</a>
          <button id= "closeModal" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css">
  <style>
    .modal-open {
      overflow-y: scroll;
    }
  </style>
{% endblock %}
{% block javascript %}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/static/js/geoglows_esri_map.js"></script>
  <script>
    $("#show_modal_btn").click(function () {
      if ($("#request-status").is(":empty")) {
        $("#on-empty-chart").show();
      }
    })
    $("#closeModal").click(function () {
      $("#on-empty-chart").hide();
    })
  </script>
{% endblock %}
