{% extends "base_template.html" %}
{% block title %}License - GEOGloWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1>Software License</h1>
  <h3>BSD-3-Clause License</h3>
  <p>
    Copyright &#169; 2020 GEOGloWS
  </p>
  <p>
    Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:
  </p>
  <ol>
    <li>
      Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
    </li>
    <li>
      Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.
    </li>
    <li>
      Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products derived from this software without specific prior written permission.
    </li>
  </ol>
  <p>
      THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  </p>
  <h1>Data License</h1>
  <h3>Open Data Commons Attribution License (ODC-By)</h3>
  <p>
    The GEOGloWS ECMWF Streamflow Service Data (the data) is made available under the Open Data Commons Attribution License: <a href="http://opendatacommons.org/licenses/by/1.0/" target="_blank">http://opendatacommons.org/licenses/by/1.0/</a>
  </p>
  <h6>ODC-BY 1.0 Summary</h6>
  <p>
    You are free:
  </p>
  <ul>
    <li>
      To share: To copy, distribute and use the data.
    </li>
    <li>
      To create: To produce works from the data.
    </li>
    <li>
      To adapt: To modify, transform and build upon the data.
    </li>
  </ul>
  <p>
    As long as you:
  </p>
  <ul>
    <li>
      Attribute: You must attribute any public use of the data, or works produced from the data, in the manner specified in the license. For any use or redistribution of the data, or works produced from it, you must make clear to others the license of the data and keep intact any notices on the original data.
    </li>
  </ul>
  <p>
    Attribution Example:
  </p>
  <ul style="list-style-type: none;">
    <li>
      <code>
        Contains information from the GEOGloWS ECMWF Streamflow Service which is made available under <a href="http://opendatacommons.org/licenses/by/1.0/" target="_blank">the ODC Attribution License</a>.
      </code>
    </li>
  </ul>
  <p>
    Disclaimer
  </p>
  <p>
    This is not a license. It is simply a handy reference for understanding the ODC-BY 1.0 — it is a human-readable expression of some of its key terms. This document has no legal value, and its contents do not appear in the actual license. Read the full ODC-BY 1.0 license text for the exact terms that apply.
  </p>
{% endblock %}
