swagger: '2.0'
info:
  title: GEOGLOWS REST Data Service
  description: 'A REST Data Service to access high resolution streamflow forecasts and retrospective simulations from the GEOGLOWS program'
  version: '2.0.0'
host: geoglows.ecmwf.int
basePath: /api/v2
schemes:
  - https
paths:
  /dates:
    get:
      description: This operation returns the available forecast dates in JSON format.
      summary: Available dates
      produces:
        - application/json
      responses:
        '200':
          description: The response body will contain a list of available dates.
        '204':
          description: Successful request but no regions found.
          examples:
            message: No dates available.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /forecast/{reach_id}:
    get:
      description: This operation returns a simple summary of the ensemble forecast.
      summary: Returns average forecasted flow
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /forecaststats/{reach_id}:
    get:
      description: This operation returns statistics calculated from 51 forecast ensemble members. A successful response will return a time series with date-value pairs.
      summary: Return basic forecast statistics
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /forecastensembles/{reach_id}:
    get:
      description: This operation returns a timeseries for each of the 51 normal forecast ensemble members and the 52nd higher resolution forecast. A successful response will return a time series with date-value pairs.
      summary: Return forecast ensembles
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
        - name: ensemble
          in: query
          description: |-
            The desired forecast ensemble(s). Input can be:
              - An individual ensemble (i.e. 5)
              - A group of ensembles separated by commas (i.e. 1,5,9)
              - A range of ensembles separated by a dash (i.e. 3-15)
              - A combination of individual numbers and ranges (i.e. 1,5,7-16,24-35)
          type: string
          default: all
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series for each ensemble along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /forecastrecords/{reach_id}:
    get:
      description: |-
        This retrieves the rolling record of the mean of the forecasted streamflow during the first 24 hours of each day's forecast. That is, each day day after the
        streamflow forecasts are computed, the average of first 8 of the 3-hour timesteps are recorded to a csv. This retrieves that rolling record
      summary: Return rolling record of average flows
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: start_date
          in: query
          description: A date in YYYYMMDD format when you would like to start retrieving data (if available). Defaults to Jan 1 of the current year.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
        - name: end_date
          in: query
          description: A date in YYYYMMDD format when you would like to stop retrieving data (if available). Defaults to Dec 31 of the current year.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series for the specified stream reach
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /hydroviewer/{reach_id}:
    get:
      description: A shorthand for retrieving the forecast records and stats, and return periods, usually all plotted together.
      summary: Returns forecast records, forecast stats, and return periods.
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /retrospective/{reach_id}:
    get:
      description: |-
        This operation returns simulated streamflow data based on the ERA-5 dataset. A successful response will return a time series with date-value pairs.
      summary: Return historic simulation
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: start_date
          in: query
          description: A date in YYYYMMDD format of the earliest simulation date to retrieve. Simulated values on or after the specified date are returned. Earliest is 19400101.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
          default: 19400101
        - name: end_date
          in: query
          description: A date in YYYYMMDD format of the latest simulation date to retrieve. Simulated values on or before the specified date are returned. Defaults to the most recent date.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /dailyaverages/{reach_id}:
    get:
      description: This operation returns the average flow for each day of the year for the Historic Simulation
      summary: Return historic simulation's daily averages
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /monthlyaverages/{reach_id}:
    get:
      description: This operation returns the average flow for each month of the year for the Historic Simulation
      summary: Return historic simulation's monthly averages
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /annualaverages/{reach_id}:
    get:
      description: This operation returns the average flow for each year of the Historic Simulation
      summary: Return historic simulation's annual averages
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /returnperiods/{reach_id}:
    get:
      description: |-
        This operation returns the 2, 5, 10, 25, 50, and 100 year return period based on the 80-years simulated streamflow data and using the Gumbel Method. A successful response will return key-value pairs for each return period along with metadata.
      summary: Return historic simulation
      parameters:
        - name: reach_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getReachID method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a key-value pairs for each return period along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /getReachID:
    get:
      description: Find the Reach ID nearest a point using latitude and longitude coordinates
      summary: Find the Reach ID nearest a point using latitude and longitude coordinates
      parameters:
        - name: lat
          in: query
          required: true
          description: The latitude of a point to search
          type: number
          format: float
        - name: lon
          in: query
          required: true
          description: The longitude of a point to search
          type: number
          format: float
      produces:
        - application/json
      responses:
        '200':
          description: The response body will contain the reach ID of the nearest stream reach.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
