swagger: '2.0'
info:
  title: GEOGLOWS Data Service
  description: 'A Data Service to access high resolution streamflow forecasts and retrospective simulations from the GEOGLOWS program'
  version: '2.2.0'
host: geoglows.ecmwf.int
basePath: /api
schemes:
  - https
paths:
  /v2/dates:
    get:
      tags:
          - 'Version 2'
      description: This operation returns the available forecast dates in JSON format.
      summary: Available dates
      produces:
        - application/json
      responses:
        '200':
          description: The response body will contain a list of available dates.
        '204':
          description: Successful request but no regions found.
          examples:
            message: No dates available.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/forecast/{river_id}:
    get:
      tags:
            - 'Version 2'
      description: This operation returns a simple summary of the ensemble forecast.
      summary: Returns average forecasted flow
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/forecaststats/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: This operation returns statistics calculated from 51 forecast ensemble members. A successful response will return a time series with date-value pairs.
      summary: Return basic forecast statistics
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/forecastensemble/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: This operation returns a timeseries for each of the 51 normal forecast ensemble members and the 52nd higher resolution forecast. A successful response will return a time series with date-value pairs.
      summary: Return forecast ensemble
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series for each ensemble along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/forecastrecords/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: |-
        This retrieves the rolling record of the mean of the forecasted streamflow during the first 24 hours of each day's forecast. That is, each day day after the
        streamflow forecasts are computed, the average of first 8 of the 3-hour timesteps are recorded to a csv. This retrieves that rolling record
      summary: Return rolling record of average flows
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: start_date
          in: query
          description: A date in YYYYMMDD format when you would like to start retrieving data (if available). Defaults to 14 days prior to most recent available date.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
        - name: end_date
          in: query
          description: A date in YYYYMMDD format when you would like to stop retrieving data (if available). Defaults to Dec 31 of the current year.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series for the specified stream reach
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/hydroviewer/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: A shorthand for retrieving the forecast records and stats, and return periods, usually all plotted together.
      summary: Returns forecast records, forecast stats, and return periods.
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: date
          in: query
          description: The given date for the forecast of interest given as YYYYMMDD (e.g. 20201020). If left blank it defaults to the most recent date. This API provides access to data within the last 30 days.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])(.(00|12)|)$'
        - name: start_date
          in: query
          description: A date in YYYYMMDD format when you would like to start retrieving forecast record data. Defaults to None so no records would be retrieved if this parameter is not specified.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/retrospectivedaily/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: |-
        This operation returns simulated daily streamflow data based on the ERA-5 dataset. A successful response will return a time series with date-value pairs.
      summary: Return historic simulation
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: start_date
          in: query
          description: A date in YYYYMMDD format of the earliest simulation date to retrieve. Simulated values on or after the specified date are returned. Earliest is 19400101.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
          default: 19400101
        - name: end_date
          in: query
          description: A date in YYYYMMDD format of the latest simulation date to retrieve. Simulated values on or before the specified date are returned. Defaults to the most recent date.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/retrospectivemonthly/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: |-
        This operation returns simulated monthly streamflow data based on the ERA-5 dataset. A successful response will return a time series with date-value pairs.
      summary: Return historic simulation
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: start_date
          in: query
          description: A date in YYYYMMDD format of the earliest simulation date to retrieve. Simulated values on or after the specified date are returned. Earliest is 19400101.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
          default: 19400101
        - name: end_date
          in: query
          description: A date in YYYYMMDD format of the latest simulation date to retrieve. Simulated values on or before the specified date are returned. Defaults to the most recent date.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/retrospectivehourly/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: |-
        This operation returns simulated hourly streamflow data based on the ERA-5 dataset. A successful response will return a time series with date-value pairs.
      summary: Return historic simulation
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: start_date
          in: query
          description: A date in YYYYMMDD format of the earliest simulation date to retrieve. Simulated values on or after the specified date are returned. Earliest is 19400101.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
          default: 19400101
        - name: end_date
          in: query
          description: A date in YYYYMMDD format of the latest simulation date to retrieve. Simulated values on or before the specified date are returned. Defaults to the most recent date.
          type: string
          pattern: '^[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])$'
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/dailyaverages/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: This operation returns the average flow for each day of the year for the Historic Simulation
      summary: Return historic simulation's daily averages
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/monthlyaverages/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: This operation returns the average flow for each month of the year for the Historic Simulation
      summary: Return historic simulation's monthly averages
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/annualaverages/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: This operation returns the average flow for each year of the Historic Simulation
      summary: Return historic simulation's annual averages
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a time series along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/returnperiods/{river_id}:
    get:
      tags:
        - 'Version 2'
      description: |-
        This operation returns the 2, 5, 10, 25, 50, and 100 year return period based on the 80-years simulated streamflow data and using the Gumbel Method. A successful response will return key-value pairs for each return period along with metadata.
      summary: Return historic simulation
      parameters:
        - name: river_id
          in: path
          description: The stream reach's unique ID also referred to as common identifier (COMID). If the ID is not known, use the getriverid method.
          type: number
          format: integer
          required: true
        - name: format
          in: query
          required: False
          description: The file format of the response
          type: string
          default: csv
          enum:
            - csv
            - json
        - name: bias_corrected
          in: query
          required: False
          description: If true, the return data will show improvements based on global bias correction techniques. If false, the data will not be bias corrected.
          type: boolean
          default: False
      produces:
        - text/csv
        - application/json
      responses:
        '200':
          description: The response body will contain a key-value pairs for each return period along with metadata about the stream reach of interest.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.
  /v2/getriverid:
    get:
      tags:
        - 'Version 2'
      description: Find the Reach ID nearest a point using latitude and longitude coordinates
      summary: Find the Reach ID nearest a point using latitude and longitude coordinates
      parameters:
        - name: lat
          in: query
          required: true
          description: The latitude of a point to search
          type: number
          format: float
        - name: lon
          in: query
          required: true
          description: The longitude of a point to search
          type: number
          format: float
      produces:
        - application/json
      responses:
        '200':
          description: The response body will contain the reach ID of the nearest stream reach.
        '400':
          description: Bad request. Check request and parameters.
          examples:
            error: An unexpected error occurred.