{% extends "base_template.html" %}
{% block title %}Publications - GEOGLOWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1>Publications</h1>
  <p>
    The GEOGLOWS ECMWF Streamflow Service grew primarily from academic research at Brigham Young University.
    Considerable work was done to develop and evaluate the technologies which enable this hydrologic model. This is an abbreviated
    list of publications which resulted from this research. We acknowledge that many scientists and researchers contributes
    to the successful development and operation of this model.
  </p>

  <h2>GEOGLOWS Hydrologic Model</h2>
  <h3>GEOGLOWS V1</h3>
  <ul>
    <li>
      Riley C. Hales, Jim Nelson, Michael Souffront, Angelica Guttierez, Christel Prudhomme, Steve Kopp, Dan Ames, Gus
      Williams, Norm Jones
      Advancing Global Hydrologic Modeling with the GEOGloWS ECMWF Streamflow Service
      Journal of Flood Risk Management
      doi: <a href="https://doi.org/10.1111/jfr3.12859">10.1111/jfr3.12859</a>
    </li>
    <li>
      Kyler R. Ashby, Riley Chad Hales, Jim Nelson, Daniel P. Ames, Gustavious P. Williams
      Hydroviewer: A Web Application to Localize Global Hydrologic Forecasts
      Open Water Journal
      link: <a href="https://scholarsarchive.byu.edu/openwater/vol7/iss1/9/">https://scholarsarchive.byu.edu/openwater/vol7/iss1/9/</a>
    </li>
    <li>Souffront, Michael A., E. James Nelson, Kiran Shakya, Christopher Edwards, Wade Roberts, Corey Krewson, Daniel
      P. Ames, Norman L. Jones, and Angelica Gutierrez, “Hydrologic Modeling as a Service (HMaaS): A New Approach to
      Address Hydroinformatic Challenges in Developing Countries” Frontiers in Environmental Science: Freshwater
      Science, October 2019, doi: <a href="https://doi.org/10.3389/fenvs.2019.00158">10.3389/fenvs.2019.00158</a>.
    </li>
  </ul>
  <h3>Formative Research</h3>
  <ul>
    <li>Qiao, Xiaohui, E. James Nelson, Daniel P. Ames, Zhiyu Li, Cedric H. David, Gustavious P. Williams, Wade Roberts,
      Jorge Luis Sanchez, Chris Edwards, Michael A. Souffront, Mir A. Matin, “A
      Systems Approach to Routing Global Gridded Runoff through Local High-Resolution Stream Networks for Flood Early
      Warning Systems” Environmental Modelling and Software, Vol. 120, Article 104501,
      October 2019, <a href="https://doi.org/10.1016/j.envsoft.2019.104501">10.1016/j.envsoft.2019.104501</a>.
    </li>
    <li>Sikder, Safat, Cedric H. David, George H. Allen, Xiaohui, Qiao, E. James Nelson, Mir A. Matin, “Evaluation of
      Available Global Runoff Datasets through a River Model in Support of
      Transboundary Water Management in South and Southeast Asia” Frontiers in Environmental Science: Landsurface
      Dynamics, October 2019, <a href="https://doi.org/10.3389/fenvs.2019.00171">10.3389/fenvs.2019.00171</a>.
    </li>
  </ul>

  <h2>Bias Correction</h2>
  <ul>
    <li>
      Jorge Luis Sanchez Lozano, D.J. Rojas Lesmes, E.G. Romero Bustamante, R.C. Hales, E.J. Nelson, G.P. Williams, D.P. Ames, 
      N.L. Jones, A.L. Gutierrez, C. Cardona Almeida Historical simulation performance evaluation and monthly flow duration 
      curve quantile-mapping (MFDC-QM) of the GEOGLOWS ECMWF streamflow hydrologic model 
      doi:  <a href="https://doi.org/10.1016/j.envsoft.2024.106235 ">10.1016/j.envsoft.2024.106235</a>
    </li>
    <li>
      Darlly Judith Rojas Lesmes, Jorge Luis Sanchez Lozano, Jim Nelson, Mario German Trujillo Vela, Gus Williams, Daniel P Ames, 
      Norm Jones, Angelica L. Gutierrez, E. Giovanni Romero Bustamante, Riley Hales Discharge-to-water level transformation (DWLT) 
      using monthly duration curves: enhancing the utility of the GEOGLOWS ECMWF hydrological model 
      doi: <a href="https://doi.org/10.22541/essoar.173532353.33602073/v1 ">10.22541/essoar.173532353.33602073/v1 </a>
    </li>
    <li>
      Riley C. Hales, Gustavious P. Williams, Jorge Luis Sanchez Lozano, E. James Nelson, Daniel P. Ames, Robert B. Sowby
      Bias correcting discharge simulations from the GEOGloWS global hydrologic model
      Journal of Hydrology
      doi: <a href="https://doi.org/10.1016/j.jhydrol.2023.130279">10.1016/j.jhydrol.2023.130279</a>
    </li>
    <li>
      Riley C. Hales, Robert B. Sowby, Gustavious P. Williams, E. James Nelson, Jonah B. Dundas, Josh Ogden
      SABER: A Model-Agnostic Postprocessor for Bias Correcting Discharge from Large Hydrologic Models
      MDPI Hydrology
      doi: <a href="https://doi.org/10.3390/hydrology9070113">10.3390/hydrology9070113</a>
    </li>
    <li>Sanchez Lozano J, Romero Bustamante G, Hales RC, Nelson EJ, Williams GP, Ames DP, Jones NL. A Streamflow Bias
      Correction and Performance Evaluation Web Application for GEOGloWS ECMWF Streamflow Services. Hydrology. 2021;
      8(2):71. <a href="https://doi.org/10.3390/hydrology8020071">https://doi.org/10.3390/hydrology8020071</a>
    </li>
  </ul>

  <h2>Validation</h2>
  <ul>
    <li>
      Jackson, Elise, Wade Roberts, Benjamin Nelsen, Gustavious P. Willliams, E. James Nelson, Daniel P. Ames
      “Introductory overview: Error metrics for hydrologic modelling – A review of common
      practices and an open source library to facilitate use and adoption” Environmental Modeling and Software, May
      2019, <a href="https://doi.org/10.1016/j.envsoft.2019.05.001">10.1016/j.envsoft.2019.05.001</a>.
    </li>
    <li>
      Roberts, Wade, Gustavious P. Williams, Elise Jackson, E. James Nelson, Daniel P. Ames, “HydroStats: A Python
      Package for Characterizing Errors between Observed and Predicted Time Series”
      Journal of Hydrology, Vol 5, Issue 4, 2018, doi: <a href="https://doi.org/10.3390/hydrology5040066">10.3390/hydrology5040066</a>.
    </li>
  </ul>
  <h2>Use Cases</h2>
  <ul>
    <li>
      Alma Meyer; Jorge Luis Sánchez Lozano; E. James Nelson; Africa; Flores Connecting Space to Village by Predicting Algae Contamination 
      in Lake Atitlán, Guatemala  access: <a href="https://scholarsarchive.byu.edu/openwater/vol7/iss1/8 ">here</a>.
    </li>
    <li>
      Rachel Huber Magoffin, Riley C. Hales, E. James Nelson, Calvince Wara, Gustavious P. Williams, Andrew South, Zeleke K. Challa 
      Hydrologic Decision Support in the Nile Basin: Creating Status Products from the GEOGLOWS Hydrologic Model 
      doi: <a href="https://doi.org/10.3390/hydrology12030043">10.3390/hydrology12030043</a>.
    </li>
  </ul>

{% endblock %}
