{% extends "base_template.html" %}
{% block title %}Resources - GEOGloWS ECMWF Streamflow Model{% endblock %}

{% block page_content %}
  <h1>Resources</h1>
  <p>
    Several training resources are available to help you learn to use the GEOGloWS ECMWF Streamflow model.
  </p>
  <h2>Python client - <code>geoglows</code></h2>
  <p>
    There is an official python client for the GEOGloWS data service. This python package contains functions for
    retrieving data from the REST service, generating plots, and performing some post processing.
  </p>
  <ul>
    <li>
      Documentation, tutorials, example code: <a href="https://geoglows.readthedocs.io">https://geoglows.readthedocs.io</a>.
    </li>
    <li>
      Source code on GitHub: <a href="https://github.com/BYU-Hydroinformatics/geoglows">https://github.com/BYU-Hydroinformatics/geoglows</a>
    </li>
    <li>
      Conda-forge page: <a href="https://github.com/conda-forge/geoglows-feedstock">https://github.com/conda-forge/geoglows-feedstock</a>
    </li>
    <li>
      Pypi distribution: <a href="https://pypi.org/project/geoglows/">https://pypi.org/project/geoglows/</a>
    </li>
  </ul>

  <h2>Data Service</h2>
  <p></p>
  <ul>
    <li>
      Source Code for the Data Service: <a href="https://github.com/BYU-Hydroinformatics/geoglows-rest-api">https://github.com/BYU-Hydroinformatics/geoglows-rest-api</a>
    </li>
  </ul>

  <h2>GEOGloWS Projects</h2>
  <p>
    GEOGloWS has been working on several other tools to help people access water data, including the GEOGloWS ECMEF Streamflow Model.
    You can find presentation slides, demo videos, workshops, tutorials and other content for this streamflow model and other
    GEOGloWS Projects at <a href="https://geoglows-training.readthedocs.io">https://geoglows-training.readthedocs.io</a>.
  </p>
  <p>
    More information about GEOGloWS can be found at <a href="https://geoglows.org">geoglows.org</a>.
  </p>

{% endblock %}
