# Deploy to Production Workflow
name: Deploy to Production

on:
  workflow_dispatch:

env:
  ECCR_GEOGLOWS_TOKEN: ${{ secrets.ECCR_GEOGLOWS_TOKEN }}

jobs:
  deploy:
    name: Deploy to Production
    runs-on: ubuntu-latest
    container: 
      image: docker.aquaveo.com/tethys/kubernetes/helm-docker:2.0.0-rc1
    
    steps:
      - name: Deploy to Production
        run: |
          echo ${{ github.ref_name }}
          curl -X POST -H "Authorization: Bearer $ECCR_GEOGLOWS_TOKEN" -d "bamboo.COMMIT_TAG=${{ gtihub.ref_name }}" https://bamboo.ecmwf.int/rest/api/latest/queue/GEOGLOWS-GSPRES1
